* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav{
    background-color:red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav:hover{
    background-color: black;
    cursor: pointer;
}

